* JOINS will allow us to combine information from multiple tables

## AS statement

* Allows us to create an 'alias' for a column or result

SELECT column AS new_name

FROM table;

SELECT SUM(column) AS new_name

FROM table;

Note that the AS operator gets exdecuted at the very end of a query, meaninge that we can no use the ALIAS inside a WHERE operator

## INNER JOIN

SELECT * FROM TableA

INNER JOIN TableB

ON TableA.col_match = TableB.col_match

---
- To leave only one of the matching columns:

SELECT reg_id,Logins.name,log_id

FROM Registrations

INNER JOIN Logins

ON Registrations.name = Logins.name

* You can only use JOIN and SQL will interpret as INNER JOIN

## OUTER JOINs

- OUTER JOINs will allows us to specify how to deal with values only present in one o fhte tables being joined.

[A Visual Explanation of SQL Joins](https://blog.codinghorror.com/a-visual-explanation-of-sql-joins/)

#### FULL OUTER JOIN

SELECT * FROM TableA

FULL OUTER JOIN TableB

ON TableA.column_match = TableB.column_match

#### FULL OUTER JOIN with WHERE

* Get rows unique to either table

SELECT * FROM TableA

FULL OUTER JOIN TableB

ON TableA.column_match = TableB.column_match

WHERE TableA.id IS null OR TableB.id IS null

#### LEFT OUTER JOIN

* A LEFT OUTER JOIN results in the set of record that are in the left table, if there is no match with the right table, the results are null

SELECT * FORM TableA

LEFT OUTER JOIN TableB

ON TableA.col_match = TableB.col_match

#### LEFT OUTER JOIN with WHERE

* Get rows unique to left table

SELECT * FROM TableA

LEFT OUTER JOIN TableB

ON TableA.column_match = TableB.column_match

WHERE TableB.column_match IS null

## UNION

- The UNION operator is used to combine the result-set of two or more SELECT statements. It basically serves to directly concatenate two results together right on top of eachother

SELECT column_name(s) FROM table1

UNION

SELECT column_name(s) FROM table2